*{
    margin: 0;
    padding: 0;
}
h1{
    margin-bottom: 20px;
    font-family:  Comic Sans Ms;
    text-align: center;
    padding: 20px;
    color: #255784;


}
body{
    background-image: linear-gradient(
       rgb(200, 255, 0),red, rgb(2,6,8),green,purple,red,orange,yellow);
        background-attachment: fixed;
}

form{
    font-family:  Comic Sans Ms;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;

    background-color: thistle;
    padding: 10px;
    background: thistle;
}
label input{
  width: 100%;
}
div input{
    width: 10px;
}
input[type]{
    width: 100%;
}
.back{

    padding: 5px 25px 5px 25px;
    background: #2196f3;
    text-decoration: none;
}
.back:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: all .4s;
    border-radius: 5px;
}